.Chat_layout {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr 120px;
}
.Chat_layout a {
  text-decoration: none;
}

.Chat_channel-detail {
  grid-column: 4;
  grid-row: 1 / 4;
  border-left: solid thin lightgray;
  width: 250px;
  overflow: auto;
}

.Chat_channel-detail-shown {
  display: block;
}

.Chat_channel-detail-hidden {
  display: none;
}
